@import 'compass/css3';
@import 'color';
@import 'opacity';
@import 'overflow';
@import 'radius';
@import 'rwd';
@import 'size';
@import 'text';

* {
  @include box-sizing();
}

a {
  text-decoration: none;
}

.is-pointer {
  cursor: pointer;
}

.is-underline {
  text-decoration: underline;
}

.no-select {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.no-outline {
  outline: none;
}
