@import 'default';
@import 'rwd';

@mixin build-opacity($rwd, $opacity) {
  [acss#{$rwd}-opacity="#{$opacity}"] {
    opacity: $opacity;
  }
}

@mixin build-opacity-attribute($rwd) {
  $opacity: 0;
  @while $opacity <= 1 + $float-threshold {
    @include build-opacity($rwd, $opacity);
    $opacity: $opacity + 0.1;
  }
}

@include rwd {
  @include build-opacity-attribute($rwd);
}

@include rwd-xs {
  @include build-opacity-attribute($rwd-xs);
}

@include rwd-sm {
  @include build-opacity-attribute($rwd-sm);
}

@include rwd-md {
  @include build-opacity-attribute($rwd-md);
}

@include rwd-lg {
  @include build-opacity-attribute($rwd-lg);
}

@include rwd-xl {
  @include build-opacity-attribute($rwd-xl);
}
