@import 'rwd';

@mixin build-overflow-attribute($rwd) {
  [acss#{$rwd}-overflow="hidden"] {
    overflow: hidden !important;
  }

  [acss#{$rwd}-overflow="visible"] {
    overflow: visible !important;
  }

  [acss#{$rwd}-overflow="scroll"] {
    overflow: scroll !important;
  }

  [acss#{$rwd}-overflow="scroll-x"] {
    overflow-x: scroll !important;
  }

  [acss#{$rwd}-overflow="scroll-y"] {
    overflow-y: scroll !important;
  }
}

@mixin build-overflow-attribute-x($rwd) {
  [acss#{$rwd}-overflow-x="hidden"] {
    overflow-x: hidden !important;
  }

  [acss#{$rwd}-overflow-x="visible"] {
    overflow-x: visible !important;
  }

  [acss#{$rwd}-overflow-x="scroll"] {
    overflow-x: scroll !important;
  }
}

@mixin build-overflow-attribute-y($rwd) {
  [acss#{$rwd}-overflow-y="hidden"] {
    overflow-y: hidden !important;
  }

  [acss#{$rwd}-overflow-y="visible"] {
    overflow-y: visible !important;
  }

  [acss#{$rwd}-overflow-y="scroll"] {
    overflow-y: scroll !important;
  }
}

@mixin build-overflow-attributes($rwd) {
  @include build-overflow-attribute($rwd);
  @include build-overflow-attribute-x($rwd);
  @include build-overflow-attribute-y($rwd);
}

@include rwd {
  @include build-overflow-attributes($rwd);
}

@include rwd-xs {
  @include build-overflow-attributes($rwd-xs);
}

@include rwd-sm {
  @include build-overflow-attributes($rwd-sm);
}

@include rwd-md {
  @include build-overflow-attributes($rwd-md);
}

@include rwd-lg {
  @include build-overflow-attributes($rwd-lg);
}

@include rwd-xl {
  @include build-overflow-attributes($rwd-xl);
}
