@import 'rwd';

@mixin build-overflow($rwd, $attribute-value, $property-value) {
  [acss#{$rwd}-overflow="#{$attribute-value}"] {
    overflow: $property-value !important;
  }
}

@mixin build-overflow-x($rwd, $attribute-value, $property-value) {
  [acss#{$rwd}-overflow-x="#{$attribute-value}"] {
    overflow-x: $property-value !important;
  }
}

@mixin build-overflow-y($rwd, $attribute-value, $property-value) {
  [acss#{$rwd}-overflow-y="#{$attribute-value}"] {
    overflow-y: $property-value !important;
  }
}

@mixin build-overflow-attribute($rwd) {
  @include build-overflow($rwd, "hidden", hidden);
  @include build-overflow($rwd, "visible", visible);
  @include build-overflow($rwd, "scroll", scroll);

  // will be deprecated
  [acss#{$rwd}-overflow="scroll-x"] {
    overflow-x: scroll !important;
  }

  [acss#{$rwd}-overflow="scroll-y"] {
    overflow-y: scroll !important;
  }
}

@mixin build-overflow-x-attribute($rwd) {
  @include build-overflow-x($rwd, "hidden", hidden);
  @include build-overflow-x($rwd, "visible", visible);
  @include build-overflow-x($rwd, "scroll", scroll);
}

@mixin build-overflow-y-attribute($rwd) {
  @include build-overflow-y($rwd,"hidden", hidden);
  @include build-overflow-y($rwd,"visible", visible);
  @include build-overflow-y($rwd,"scroll", scroll);
}

@mixin build-overflow-attributes($rwd) {
  @include build-overflow-attribute($rwd);
  @include build-overflow-x-attribute($rwd);
  @include build-overflow-y-attribute($rwd);
}

@include rwd {
  @include build-overflow-attributes($rwd);
}

@include rwd-xs {
  @include build-overflow-attributes($rwd-xs);
}

@include rwd-sm {
  @include build-overflow-attributes($rwd-sm);
}

@include rwd-md {
  @include build-overflow-attributes($rwd-md);
}

@include rwd-lg {
  @include build-overflow-attributes($rwd-lg);
}

@include rwd-xl {
  @include build-overflow-attributes($rwd-xl);
}
