@import 'rwd';

@mixin build-overflow-attributes($rwd) {
  [acss#{$rwd}-overflow="hidden"] {
    overflow: hidden !important;
  }

  [acss#{$rwd}-overflow="visible"] {
    overflow: visible !important;
  }

  [acss#{$rwd}-overflow="scroll"] {
    overflow: scroll !important;
  }

  [acss#{$rwd}-overflow="scroll-x"] {
    overflow-x: scroll !important;
  }

  [acss#{$rwd}-overflow="scroll-y"] {
    overflow-y: scroll !important;
  }
}

@include rwd {
  @include build-overflow-attributes($rwd);
}

@include rwd-xs {
  @include build-overflow-attributes($rwd-xs);
}

@include rwd-sm {
  @include build-overflow-attributes($rwd-sm);
}

@include rwd-md {
  @include build-overflow-attributes($rwd-md);
}

@include rwd-lg {
  @include build-overflow-attributes($rwd-lg);
}

@include rwd-xl {
  @include build-overflow-attributes($rwd-xl);
}
