@import 'default';

$rwd: '';
$rwd-xs: '-xs';
$rwd-sm: '-sm';
$rwd-md: '-md';
$rwd-lg: '-lg';
$rwd-xl: '-xl';

@mixin rwd {
  @media screen {
    @content;
  }
}

@mixin rwd-mobile {
  @media screen and (max-width: $rwd-mobile-max-width) {
    @content;
  }
}

@mixin rwd-pc {
  @media screen and (min-width: $rwd-pc-min-width) {
    @content;
  }
}

@mixin rwd-xs {
  @media screen and (max-width: $rwd-xs-max-width) {
    @content;
  }
}

@mixin rwd-sm {
  @media screen and (min-width: $rwd-sm-min-width) and (max-width: $rwd-sm-max-width) {
    @content;
  }
}

@mixin rwd-md {
  @media screen and (min-width: $rwd-md-min-width) and (max-width: $rwd-md-max-width) {
    @content;
  }
}

@mixin rwd-lg {
  @media screen and (min-width: $rwd-lg-min-width) and (max-width: $rwd-lg-max-width) {
    @content;
  }
}

@mixin rwd-xl {
  @media screen and (min-width: $rwd-xl-min-width) {
    @content;
  }
}

@mixin build-rwd() {
  .is-mobile {
    @include rwd-pc {
      display: none !important;
    }
  }

  .is-pc {
    @include rwd-mobile {
      display: none !important;
    }
  }

  .is-xs {
    @include rwd-sm {
      display: none !important;
    }

    @include rwd-md {
      display: none !important;
    }

    @include rwd-pc {
      display: none !important;
    }
  }

  .is-not-xs {
    @include rwd-xs {
      display: none !important;
    }
  }

  .is-sm {
    @include rwd-xs {
      display: none !important;
    }

    @include rwd-md {
      display: none !important;
    }

    @include rwd-pc {
      display: none !important;
    }
  }

  .is-not-sm {
    @include rwd-sm {
      display: none !important;
    }
  }

  .is-md {
    @include rwd-xs {
      display: none !important;
    }

    @include rwd-sm {
      display: none !important;
    }

    @include rwd-pc {
      display: none !important;
    }
  }

  .is-not-md {
    @include rwd-md {
      display: none !important;
    }
  }

  .is-lg {
    @include rwd-mobile {
      display: none !important;
    }

    @include rwd-xl {
      display: none !important;
    }
  }

  .is-not-lg {
    @include rwd-lg {
      display: none !important;
    }
  }

  .is-xl {
    @include rwd-mobile {
      display: none !important;
    }

    @include rwd-lg {
      display: none !important;
    }
  }

  .is-not-xl {
    @include rwd-xl {
      display: none !important;
    }
  }

  .rwd-test {
    position: relative;

    &:before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;

      @include rwd {
        content: 'rwd' + $rwd;
      }

      @include rwd-xs {
        content: 'rwd' + $rwd-xs;
      }

      @include rwd-sm {
        content: 'rwd' + $rwd-sm;
      }

      @include rwd-md {
        content: 'rwd' + $rwd-md;
      }

      @include rwd-lg {
        content: 'rwd' + $rwd-lg;
      }

      @include rwd-xl {
        content: 'rwd' + $rwd-xl;
      }
    }
  }
}
