@import 'rwd';

@mixin build-overflow-attributes($rwd) {
  [acss#{$rwd}-overflow=hidden] {
    overflow: hidden;
  }

  [acss#{$rwd}-overflow=visible] {
    overflow: visible;
  }

  [acss#{$rwd}-overflow=scroll] {
    overflow: scroll;
  }

  [acss#{$rwd}-overflow=scroll-x] {
    overflow-x: scroll;
  }

  [acss#{$rwd}-overflow=scroll-y] {
    overflow-y: scroll;
  }
}

@include rwd {
  @include build-overflow-attributes($rwd);
}

@include rwd-xs {
  @include build-overflow-attributes($rwd-xs);
}

@include rwd-sm {
  @include build-overflow-attributes($rwd-sm);
}

@include rwd-md {
  @include build-overflow-attributes($rwd-md);
}

@include rwd-lg {
  @include build-overflow-attributes($rwd-lg);
}

@include rwd-xl {
  @include build-overflow-attributes($rwd-xl);
}
