@import '../base/default';
@import '../base/rwd';
@import '../base/util';
@import "flex-divider";

@mixin build-row-gutter-between($rwd, $row-gutter) {
  &[acss#{$rwd}-gutter-between="#{$row-gutter}"] {
    > *:first-child:not(:last-child) {
      margin-right: px($row-gutter/2);
    }

    > *:not(:first-child):not(:last-child) {
      margin-left: px($row-gutter/2);
      margin-right: px($row-gutter/2);
    }

    > *:last-child:not(:first-child) {
      margin-left: px($row-gutter/2);
    }

    @include build-row-divider-between-gutter-between($rwd, $row-gutter);
    @include build-row-divider-around-gutter-between($rwd, $row-gutter);
  }
}

@mixin build-row-gutter-around($rwd, $row-gutter) {
  &[acss#{$rwd}-gutter-around="#{$row-gutter}"] {
    > * {
      margin-left: px($row-gutter/2);
      margin-right: px($row-gutter/2);
    }

    @include build-row-divider-between-gutter-around($rwd, $row-gutter);
    @include build-row-divider-around-gutter-around($rwd, $row-gutter);
  }
}

@mixin build-col-gutter-between($rwd, $col-gutter) {
  &[acss#{$rwd}-gutter-between="#{$col-gutter}"] {
    > *:first-child:not(:last-child) {
      margin-bottom: px($col-gutter/2);
    }

    > *:not(:first-child):not(:last-child) {
      margin-top: px($col-gutter/2);
      margin-bottom: px($col-gutter/2);
    }

    > *:last-child:not(:first-child) {
      margin-top: px($col-gutter/2);
    }

    @include build-col-divider-between-gutter-between($rwd, $col-gutter);
    @include build-col-divider-around-gutter-between($rwd, $col-gutter);
  }
}

@mixin build-col-gutter-around($rwd, $col-gutter) {
  &[acss#{$rwd}-gutter-around="#{$col-gutter}"] {
    > * {
      margin-top: px($col-gutter/2);
      margin-bottom: px($col-gutter/2);
    }

    @include build-col-divider-between-gutter-around($rwd, $col-gutter);
    @include build-col-divider-around-gutter-around($rwd, $col-gutter);
  }
}

@mixin build-flex-gutter-attributes($rwd) {
  $gutter: $gutter-min;
  @while $gutter <= $gutter-max {
    .l-row {
      @include build-row-gutter-between($rwd, $gutter);
      @include build-row-gutter-around($rwd, $gutter);
    }

    .l-col {
      @include build-col-gutter-between($rwd, $gutter);
      @include build-col-gutter-around($rwd, $gutter);
    }

    $gutter: $gutter + 5;
  }
}

@include rwd {
  @include build-flex-gutter-attributes($rwd);
}

@include rwd-xs {
  @include build-flex-gutter-attributes($rwd-xs);
}

@include rwd-sm {
  @include build-flex-gutter-attributes($rwd-sm);
}

@include rwd-md {
  @include build-flex-gutter-attributes($rwd-md);
}

@include rwd-lg {
  @include build-flex-gutter-attributes($rwd-lg);
}

@include rwd-xl {
  @include build-flex-gutter-attributes($rwd-xl);
}
