@import '../base/rwd';

.l-row, .l-col, .l-center {
  > .is-full-parent {
    flex: 0 0 100%;
  }

  &.no-shrink > * {
    flex-shrink: 0;
  }

  > .no-shrink {
    flex-shrink: 0;
  }

  &.is-wrap {
    flex-wrap: wrap;
  }

  > .is-fill {
    flex: 1;
  }
}

@mixin build-flex($rwd, $flex) {
  [acss#{$rwd}-flex="#{$flex}"] {
    flex: $flex;
  }
}

@mixin build-flex-grow($rwd, $flex) {
  [acss#{$rwd}-flex-grow="#{$flex}"] {
    flex-grow: $flex;
  }
}

@mixin build-flex-shrink($rwd, $flex) {
  [acss#{$rwd}-flex-shrink="#{$flex}"] {
    flex-shrink: $flex;
  }
}

@mixin build-flex-attribute($rwd) {
  $min-flex: 1;
  $max-flex: 12;
  $flex: $min-flex;
  @while $flex <= $max-flex {
    @include build-flex($rwd, $flex);
    @include build-flex-grow($rwd, $flex);
    @include build-flex-shrink($rwd, $flex);
    $flex: $flex + 1;
  }
}

@include rwd {
  @include build-flex-attribute($rwd);
}

@include rwd-xs {
  @include build-flex-attribute($rwd-xs);
}

@include rwd-sm {
  @include build-flex-attribute($rwd-sm);
}

@include rwd-md {
  @include build-flex-attribute($rwd-md);
}

@include rwd-lg {
  @include build-flex-attribute($rwd-lg);
}

@include rwd-xl {
  @include build-flex-attribute($rwd-xl);
}
