@import '../base/rwd';

%is-center {
  justify-content: center;
  align-items: center;
}

@mixin row-col {
  .l-row, .l-col {
    @content;
  }
}

.l-row.is-center, .l-col.is-center {
  @extend %is-center;
}

.l-row.is-deep-center, .l-col.is-deep-center {
  @extend %is-center;

  @include row-col {
    @extend %is-center;
  }
}

@mixin row-align-y($rwd, $align-y, $attribute-name, $attribute-value) {
  .l-row[acss#{$rwd}-align-y~="#{$align-y}"] {
    #{$attribute-name} : #{$attribute-value} !important;
  }

  .l-row[acss#{$rwd}-align-y~="#{$align-y}"][acss#{$rwd}-align-y~="deep"] {
    @include row-col {
      #{$attribute-name} : #{$attribute-value};
    }
  }
}

@mixin row-align-x($rwd, $align-x, $attribute-name, $attribute-value) {
  .l-row[acss#{$rwd}-align-x~="#{$align-x}"] {
    #{$attribute-name} : #{$attribute-value} !important;
  }

  .l-row[acss#{$rwd}-align-x~="#{$align-x}"][acss#{$rwd}-align-x~="deep"] {
    @include row-col {
      #{$attribute-name} : #{$attribute-value};
    }
  }
}

@mixin row-wrap-align($rwd, $wrap-align,$attribute-value) {
  .l-row[acss#{$rwd}-wrap-align~="#{$wrap-align}"] {
    align-content: #{$attribute-value} !important;
  }

  .l-row[acss#{$rwd}-wrap-align~="#{$wrap-align}"][acss#{$rwd}-wrap-align~="deep"] {
    @include row-col {
      align-content: #{$attribute-value};
    }
  }
}

@mixin col-align-x($rwd, $align-x, $attribute-name, $attribute-value) {
  .l-col[acss#{$rwd}-align-x~="#{$align-x}"] {
    #{$attribute-name} : #{$attribute-value} !important;
  }

  .l-col[acss#{$rwd}-align-x~="#{$align-x}"][acss#{$rwd}-align-x~="deep"] {
    @include row-col {
      #{$attribute-name} : #{$attribute-value};
    }
  }
}

@mixin col-align-y($rwd, $align-y, $attribute-name, $attribute-value) {
  .l-col[acss#{$rwd}-align-y~="#{$align-y}"] {
    #{$attribute-name} : #{$attribute-value} !important;
  }

  .l-col[acss#{$rwd}-align-y~="#{$align-y}"][acss#{$rwd}-align-y~="deep"] {
    @include row-col {
      #{$attribute-name} : #{$attribute-value};
    }
  }
}

@mixin col-wrap-align($rwd, $wrap-align,$attribute-value) {
  .l-col[acss#{$rwd}-wrap-align~="#{$wrap-align}"] {
    align-content: #{$attribute-value} !important;
  }

  .l-col[acss#{$rwd}-wrap-align~="#{$wrap-align}"][acss#{$rwd}-wrap-align~="deep"] {
    @include row-col {
      align-content: #{$attribute-value};
    }
  }
}

// main axis aligns
@mixin row-col-main-axis-align($rwd, $row-attribute-value, $col-attribute-value, $attribute-name, $attribute-value) {
  @include row-align-x($rwd, $row-attribute-value, $attribute-name, $attribute-value);
  @include col-align-y($rwd, $col-attribute-value, $attribute-name, $attribute-value);
}

@mixin main-axis-align-start($rwd) {
  @include row-col-main-axis-align($rwd, left, top, justify-content, flex-start);
}

@mixin main-axis-align-center($rwd) {
  @include row-col-main-axis-align($rwd, center, center, justify-content, center);
  @include row-col-main-axis-align($rwd, center, center, justify-content, center);
}

@mixin main-axis-align-end($rwd) {
  @include row-col-main-axis-align($rwd, right, bottom, justify-content, flex-end);
}

@mixin main-axis-between($rwd) {
  @include row-col-main-axis-align($rwd, between, between, justify-content, space-between);
}

@mixin main-axis-align-around($rwd) {
  @include row-col-main-axis-align($rwd, around, around, justify-content, space-around);
}

// cross axis aligns
@mixin row-col-cross-axis-align($rwd, $row-attribute-value, $col-attribute-value, $attribute-name, $attribute-value) {
  @include row-align-y($rwd, $row-attribute-value, $attribute-name, $attribute-value);
  @include col-align-x($rwd, $col-attribute-value, $attribute-name, $attribute-value);
}

@mixin cross-axis-align-start($rwd) {
  @include row-col-cross-axis-align($rwd, top, left, align-items, flex-start);
}

@mixin cross-axis-align-center($rwd) {
  @include row-col-cross-axis-align($rwd, center, center, align-items, center);
}

@mixin cross-axis-align-end($rwd) {
  @include row-col-cross-axis-align($rwd, bottom, right, align-items, flex-end)
}

@mixin cross-axis-align-stretch($rwd) {
  @include row-col-cross-axis-align($rwd, stretch, stretch, align-items, stretch);
}

// wrap axis aligns
@mixin row-col-wrap-axis-align($rwd, $row-attribute-value, $col-attribute-value, $attribute-value) {
  @include row-wrap-align($rwd, $row-attribute-value, $attribute-value);

  @include col-wrap-align($rwd, $col-attribute-value, $attribute-value);
}

@mixin wrap-axis-align-start($rwd) {
  @include row-col-wrap-axis-align($rwd, top, left, flex-start);
}

@mixin wrap-axis-align-center($rwd) {
  @include row-col-wrap-axis-align($rwd, center, center, center);
}

@mixin wrap-axis-align-end($rwd) {
  @include row-col-wrap-axis-align($rwd, bottom, right, flex-end);
}

@mixin wrap-axis-between($rwd) {
  @include row-col-wrap-axis-align($rwd, between, between, space-between);
}

@mixin wrap-axis-align-around($rwd) {
  @include row-col-wrap-axis-align($rwd, around, around, space-around);
}

// children align
@mixin child-cross-align-start($rwd) {
  .l-row > [acss#{$rwd}-child-align~="top"] {
    align-self: flex-start;
  }

  .l-col > [acss#{$rwd}-child-align~="left"] {
    align-self: flex-start;
  }
}

@mixin child-cross-align-center($rwd) {
  .l-row > [acss#{$rwd}-child-align~="center"] {
    align-self: center;
  }

  .l-col > [acss#{$rwd}-child-align~="center"] {
    align-self: center;
  }
}

@mixin child-cross-align-end($rwd) {
  .l-row > [acss#{$rwd}-child-align~="bottom"] {
    align-self: flex-end;
  }

  .l-col > [acss#{$rwd}-child-align~="right"] {
    align-self: flex-end;
  }
}

@mixin child-cross-align-stretch($rwd) {
  .l-row > [acss#{$rwd}-child-align~="stretch"] {
    align-self: stretch;
  }

  .l-col > [acss#{$rwd}-child-align~="stretch"] {
    align-self: stretch;
  }
}

@mixin build-flex-align($rwd) {
  @include main-axis-align-start($rwd);
  @include main-axis-align-center($rwd);
  @include main-axis-align-end($rwd);
  @include main-axis-between($rwd);
  @include main-axis-align-around($rwd);

  @include cross-axis-align-start($rwd);
  @include cross-axis-align-center($rwd);
  @include cross-axis-align-end($rwd);
  @include cross-axis-align-stretch($rwd);

  @include wrap-axis-align-start($rwd);
  @include wrap-axis-align-center($rwd);
  @include wrap-axis-align-end($rwd);
  @include wrap-axis-between($rwd);
  @include wrap-axis-align-around($rwd);

  @include child-cross-align-start($rwd);
  @include child-cross-align-center($rwd);
  @include child-cross-align-end($rwd);
  @include child-cross-align-stretch($rwd);
}

@include rwd {
  @include build-flex-align($rwd);
}

@include rwd-xs {
  @include build-flex-align($rwd-xs);
}

@include rwd-sm {
  @include build-flex-align($rwd-sm);
}

@include rwd-md {
  @include build-flex-align($rwd-md);
}

@include rwd-lg {
  @include build-flex-align($rwd-lg);
}

@include rwd-xl {
  @include build-flex-align($rwd-xl);
}
