@import '../base/rwd';
@import '../base/util';
@import 'flex-divider-thickness';

@mixin row-divider-style {
  content: '';
  height: 100%;
  position: absolute;
  top: 0;
}

@mixin build-row-divider-between-attribute($rwd) {
  &[acss#{$rwd}-divider="between"] {
    > *:not(:first-child) {
      position: relative;
    }

    > *:not(:first-child):before {
      @include row-divider-style;
      left: 0;
    }
  }
}

@mixin build-row-divider-between-gutter-between($rwd, $row-gutter) {
  &[acss#{$rwd}-divider="between"] {
    > *:not(:first-child):before {
      left: px(-$row-gutter / 2);
    }
  }
}

@mixin build-row-divider-between-gutter-around($rwd, $row-gutter) {
  @include build-row-divider-between-gutter-between($rwd, $row-gutter);
}

@mixin build-row-divider-around-attribute($rwd) {
  &[acss#{$rwd}-divider="around"] {
    > * {
      position: relative;
    }

    > *:before {
      @include row-divider-style;
      left: 0;
    }

    > *:last-child {
      &:after {
        @include row-divider-style;
        right: 0;
      }
    }
  }
}

@mixin build-row-divider-around-gutter-between($rwd, $row-gutter) {
  &[acss#{$rwd}-divider="around"] {
    > *:first-child:before {
      left: 0;
    }

    > *:not(first-child):before {
      left: px(-$row-gutter / 2);
    }

    > *:last-child:after {
      right: 0;
    }
  }
}

@mixin build-row-divider-around-gutter-around($rwd, $row-gutter) {
  &[acss#{$rwd}-divider="around"] {
    > *:before {
      left: px(-$row-gutter / 2);
    }

    > *:last-child:after {
      right: px(-$row-gutter / 2);
    }
  }
}

@mixin col-divider-style {
  content: '';
  width: 100%;
  position: absolute;
  left: 0;
}

@mixin build-col-divider-between-attribute($rwd) {
  &[acss#{$rwd}-divider="between"] {
    > *:not(:first-child) {
      position: relative;

      &:before {
        @include col-divider-style;
        top: 0;
      }
    }
  }
}

@mixin build-col-divider-between-gutter-between($rwd, $col-gutter) {
  &[acss#{$rwd}-divider="between"] {
    > *:not(:first-child):before {
      top: px(-$col-gutter / 2);
    }
  }
}

@mixin build-col-divider-between-gutter-around($rwd, $col-gutter) {
  @include build-col-divider-between-gutter-between($rwd, $col-gutter);
}

@mixin build-col-divider-around-attribute($rwd) {
  &[acss#{$rwd}-divider="around"] {
    > * {
      position: relative;
    }

    > *:before {
      @include col-divider-style;
      top: 0;
    }

    > *:last-child:after {
      @include col-divider-style;
      bottom: 0;
    }
  }
}

@mixin build-col-divider-around-gutter-between($rwd, $col-gutter) {
  &[acss#{$rwd}-divider="around"] {
    > *:first-child:before {
      top: 0;
    }

    > *:not(:first-child):before {
      top: px(-$col-gutter / 2);
    }

    > *:last-child:after {
      bottom: 0;
    }
  }
}

@mixin build-col-divider-around-gutter-around($rwd, $col-gutter) {
  &[acss#{$rwd}-divider="around"] {
    > *:before {
      top: px(-$col-gutter / 2);
    }

    > *:last-child:after {
      bottom: px(-$col-gutter / 2);
    }
  }
}

@mixin build-flex-divider($rwd) {
  .l-row {
    position: relative;
    @include build-row-divider-between-attribute($rwd);
    @include build-row-divider-around-attribute($rwd);
  }

  .l-col {
    position: relative;
    @include build-col-divider-between-attribute($rwd);
    @include build-col-divider-around-attribute($rwd);
  }

  @include build-flex-divider-width-attribute($rwd);
}

// rwd
@mixin build-flex-divider-attributes {
  @include rwd {
    @include build-flex-divider($rwd)
  }

  @include rwd-xs {
    @include build-flex-divider($rwd-xs)
  }

  @include rwd-sm {
    @include build-flex-divider($rwd-sm)
  }

  @include rwd-md {
    @include build-flex-divider($rwd-md)
  }

  @include rwd-lg {
    @include build-flex-divider($rwd-lg)
  }

  @include rwd-xl {
    @include build-flex-divider($rwd-xl)
  }
}
