@import '../base/rwd';
@import '../base/util';

@mixin pad-top($padding) {
  padding-top: px($padding);
}

@mixin pad-right($padding) {
  padding-right: px($padding);
}

@mixin pad-bottom($padding) {
  padding-bottom: px($padding);
}

@mixin pad-left($padding) {
  padding-left: px($padding);
}

@mixin pad-x($padding) {
  @include pad-left($padding);
  @include pad-right($padding);
}

@mixin pad-y($padding) {
  @include pad-top($padding);
  @include pad-bottom($padding);
}

@mixin pad($padding) {
  padding: px($padding);
}

@mixin build-pad($rwd, $padding) {
  [acss#{$rwd}-pad="#{$padding}"] {
    @include pad($padding);
  }

  [acss#{$rwd}-pad^="#{$padding}x"] {
    @include pad-x($padding)
  }

  [acss#{$rwd}-pad$="x#{$padding}"] {
    @include pad-y($padding)
  }
}

@mixin build-pad-x($rwd, $padding) {
  [acss#{$rwd}-pad-x="#{$padding}"] {
    @include pad-x($padding);
  }

  [acss#{$rwd}-pad-x^="#{$padding}-"] {
    @include pad-left($padding)
  }

  [acss#{$rwd}-pad-x$="-#{$padding}"] {
    @include pad-right($padding)
  }
}

@mixin build-pad-y($rwd, $padding) {
  [acss#{$rwd}-pad-y="#{$padding}"] {
    @include pad-y($padding);
  }

  [acss#{$rwd}-pad-y^="#{$padding}-"] {
    @include pad-top($padding)
  }

  [acss#{$rwd}-pad-y$="-#{$padding}"] {
    @include pad-bottom($padding)
  }
}

@mixin build-pad-layout($rwd) {
  $padding: $padding-min;
  @while $padding <= $padding-max {
    @include build-pad($rwd, $padding);
    @include build-pad-x($rwd, $padding);
    @include build-pad-y($rwd, $padding);

    $padding: $padding + 5;
  }
}

@include rwd {
  @include build-pad-layout($rwd);
}

@include rwd-xs {
  @include build-pad-layout($rwd-xs);
}

@include rwd-sm {
  @include build-pad-layout($rwd-sm);
}

@include rwd-md {
  @include build-pad-layout($rwd-md);
}

@include rwd-lg {
  @include build-pad-layout($rwd-lg);
}

@include rwd-xl {
  @include build-pad-layout($rwd-xl);
}
