@import '../base/rwd';
@import '../base/default';
@import '../base/util';
@import 'compass/css3/transform';

@mixin build-position-attribute-layout($rwd) {
  .l-dock {
    position: relative;

    > [acss#{$rwd}-position~="dock"] {
      position: absolute !important;
    }
  }

  [acss#{$rwd}-position~="fixed"] {
    position: fixed !important;
  }

  [acss#{$rwd}-position~="offset"] {
    position: relative;
  }
}

@mixin build-position($rwd, $position) {
  [acss#{$rwd}-position~="top"] {
    top: 0;
  }

  [acss#{$rwd}-position~="top=#{$position}"] {
    top: px($position);
  }

  [acss#{$rwd}-position~="right"] {
    right: 0;
  }

  [acss#{$rwd}-position~="right=#{$position}"] {
    right: px($position);
  }

  [acss#{$rwd}-position~="bottom"] {
    bottom: 0;
  }

  [acss#{$rwd}-position~="bottom=#{$position}"] {
    bottom: px($position);
  }

  [acss#{$rwd}-position~="left"] {
    left: 0;
  }

  [acss#{$rwd}-position~="left=#{$position}"] {
    left: px($position);
  }
}

@mixin position-center($rwd) {
  [acss#{$rwd}-position~="center-x"] {
    left: 50%;
    @include transform(translateX(-50%));
  }

  [acss#{$rwd}-position~="center-y"] {
    top: 50%;
    @include transform(translateY(-50%));
  }

  [acss#{$rwd}-position~="center"] {
    left: 50%;
    top: 50%;
    @include transform(translate(-50%, -50%));
  }
}

@mixin build-position-attribute-default($rwd) {
  [acss#{$rwd}-position~="top"]:not([acss#{$rwd}-position~="right="]):not([acss#{$rwd}-position~="center-x"]),
  [acss#{$rwd}-position~="bottom"]:not([acss#{$rwd}-position~="right="]):not([acss#{$rwd}-position~="center-x"]) {
    left: 0;
  }

  [acss#{$rwd}-position~="left"]:not([acss#{$rwd}-position~="bottom="]):not([acss#{$rwd}-position~="center-y"]),
  [acss#{$rwd}-position~="right"]:not([acss#{$rwd}-position~="bottom="]):not([acss#{$rwd}-position~="center-y"]) {
    top: 0;
  }
}

@mixin build-position-attribute-box($rwd) {
  @include build-position-attribute-default($rwd);

  $position: $position-min;
  @while $position <= $position-max {
    @include build-position($rwd, $position);

    $position: $position + 5;
  }

  @include position-center($rwd);
}

@mixin build-position-attributes {
  @include rwd {
    @include build-position-attribute-layout($rwd);
    @include build-position-attribute-box($rwd);
  }

  @include rwd-xs {
    @include build-position-attribute-layout($rwd-xs);
    @include build-position-attribute-box($rwd-xs);
  }

  @include rwd-sm {
    @include build-position-attribute-layout($rwd-sm);
    @include build-position-attribute-box($rwd-sm);
  }

  @include rwd-md {
    @include build-position-attribute-layout($rwd-md);
    @include build-position-attribute-box($rwd-md);
  }

  @include rwd-lg {
    @include build-position-attribute-layout($rwd-lg);
    @include build-position-attribute-box($rwd-lg);
  }

  @include rwd-xl {
    @include build-position-attribute-layout($rwd-xl);
    @include build-position-attribute-box($rwd-xl);
  }
}
