@import "flex-align";
@import "flex-gutter";
@import "flex-size";
@import "flex-border";

l-row {
  width: 100%;
  display: flex;
  flex-direction: row;
}

l-center {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

l-col {
  width: 100%;
  display: flex;
  flex-direction: column;
}

l-row, l-center, l-col {
  & > * {
    width: auto;
  }
}
