@import "flex-align";
@import "flex-gutter";
@import "flex-size";
@import "flex-border";

l-row {
  width: 100%;
  display: flex !important;
  flex-direction: row !important;
}

l-center {
  width: 100%;
  display: flex !important;
  justify-content: center;
  align-items: center;
}

l-col {
  width: 100%;
  display: flex !important;
  flex-direction: column !important;
}
