.l-offset {
  &[data-offset-left], &[data-offset-right], &[data-offset-top], &[data-offset-bottom] {
    position: relative;
  }

  .offset-build(100, -100, 5);
}

.offset-build(@offset, @end, @diff) when (@offset >= @end) {
  .offset-build(@offset - @diff, @end, @diff);

  &[data-offset-left="@{offset}"] {
    left: @offset * 1px;
  }

  &[data-offset-right="@{offset}"] {
    right: @offset * 1px;
  }

  &[data-offset-top="@{offset}"] {
    top: @offset * 1px;
  }

  &[data-offset-bottom="@{offset}"] {
    bottom: @offset * 1px;
  }
}

