@import "../../base/rwd";
@import "compass/css3";

@mixin build-texture-mapping-attributes($rwd) {
  .acss-texture {
    &[acss#{$rwd}-texture-mapping="width"] {
      background-size: 100% auto;
    }

    &[acss#{$rwd}-texture-mapping="height"] {
      background-size: auto 100%;
    }

    &[acss#{$rwd}-texture-mapping="cover"] {
      background-size: cover;
    }

    &[acss#{$rwd}-texture-mapping="contain"] {
      background-size: contain;
    }

    &[acss#{$rwd}-texture-mapping="full-size"] {
      background-size: 100% 100%;
    }
  }
}

@include rwd {
  @include build-texture-mapping-attributes($rwd)
}

@include rwd-xl {
  @include build-texture-mapping-attributes($rwd-xl)
}

@include rwd-lg {
  @include build-texture-mapping-attributes($rwd-lg)
}

@include rwd-md {
  @include build-texture-mapping-attributes($rwd-md)
}

@include rwd-sm {
  @include build-texture-mapping-attributes($rwd-sm)
}

@include rwd-xs {
  @include build-texture-mapping-attributes($rwd-xs)
}
