@import "compass/css3";

.acss-texture {
  &[acss-texture-mapping="width"] {
    background-size: 100% auto;
  }

  &[acss-texture-mapping="height"] {
    background-size: auto 100%;
  }

  &[acss-texture-mapping="cover"] {
    background-size: cover;
  }

  &[acss-texture-mapping="contain"] {
    background-size: contain;
  }

  &[acss-texture-mapping="full-size"] {
    background-size: 100% 100%;
  }
}
