@import "compass/css3";
@import "texture-mapping";
@import "texture-position";

.acss-texture {
   //don't optimize unless you won't use background attribute
  background-position: center;
  background-repeat: no-repeat;

  &.is-repeat {
    background-repeat: repeat;
  }
}
