@import "../../../../../../../../../../../usr/local/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/css3";
@import "texture-mapping";
@import "texture-position";

.acss-texture {
   //don't optimize unless you won't use background attribute
  background-position: center;
  background-repeat: no-repeat;

  &.is-repeat {
    background-repeat: repeat;
  }
}
