@import '../base/rwd-base';
@import '../base/util';
@import '../base/default';

@mixin build-pad($rwd, $pad) {
  [acss#{$rwd}-pad="#{$pad}"] {
    padding: px($pad);
  }

  [acss#{$rwd}-pad^="#{$pad} "] {
    padding-top: px($pad);
    padding-bottom: px($pad);
  }

  [acss#{$rwd}-pad$=" #{$pad}"] {
    padding-left: px($pad);
    padding-right: px($pad);
  }
}

@mixin build-pad-x($rwd, $pad) {
  [acss#{$rwd}-pad-x="#{$pad}"] {
    padding-left: px($pad);
    padding-right: px($pad);
  }

  [acss#{$rwd}-pad-x^="#{$pad} "] {
    padding-left: px($pad);
  }

  [acss#{$rwd}-pad-x$=" #{$pad}"] {
    padding-right: px($pad);
  }
}

@mixin build-pad-y($rwd, $pad) {
  [acss#{$rwd}-pad-y="#{$pad}"] {
    padding-top: px($pad);
    padding-bottom: px($pad);
  }

  [acss#{$rwd}-pad-y^="#{$pad} "] {
    padding-top: px($pad);
  }

  [acss#{$rwd}-pad-y$=" #{$pad}"] {
    padding-bottom: px($pad);
  }
}

@mixin build-pad-attributes($rwd) {
  $pad: $min-pad;
  @while ($pad <= $max-pad) {
    @include build-pad($rwd, $pad);
    @include build-pad-x($rwd, $pad);
    @include build-pad-y($rwd, $pad);
    $pad: $pad + 5;
  }
}

@include rwd {
  @include build-pad-attributes($rwd);
}

@include rwd-xl {
  @include build-pad-attributes($rwd-xl);
}

@include rwd-lg {
  @include build-pad-attributes($rwd-lg);
}

@include rwd-md {
  @include build-pad-attributes($rwd-md);
}

@include rwd-sm {
  @include build-pad-attributes($rwd-sm);
}

@include rwd-xs {
  @include build-pad-attributes($rwd-xs);
}
