@import '../base/util';
@import '../base/default';

.scss-line {
  width: 100%;
}

@mixin build-line-module {
  $thickness: $line-thickness-min;
  @while $thickness <= $line-thickness-max {
    .acss-line[acss-line-thickness="#{$thickness}"] {
      height: px($thickness);
    }

    $thickness: $thickness + 1;
  }
}

@include build-line-module;
