@import '../base/util';
@import '../base/default';

.acss-v-line {
  height: 100%;
}

.acss-h-line {
  width: 100%;
}

@mixin build-line-thickness($thickness) {
  .acss-v-line[acss-line-thickness="#{$thickness}"] {
    width: px($thickness);
  }

  .acss-h-line[acss-line-thickness="#{$thickness}"] {
    height: px($thickness);
  }
}

@mixin build-line-thickness-attribute {
  $thickness: $line-thickness-min;
  @while $thickness <= $line-thickness-max {
    @include build-line-thickness($thickness);
    $thickness: $thickness + 1;
  }
}

@include build-line-thickness-attribute;
