@import "../base/default";
@import "../base/rwd";
@import "../base/util";

@mixin build-table-pad($rwd, $pad) {
  &[acss-table-pad="#{$pad}"] {
    th, td {
      padding: px($pad);
    }
  }

  &[acss-table-pad^="#{$pad}x"] {
    th, td {
      padding-left: px($pad);
      padding-right: px($pad);
    }
  }

  &[acss-table-pad$="x#{$pad}"] {
    th, td {
      padding-top: px($pad);
      padding-bottom: px($pad);
    }
  }
}

@mixin build-table-pad-attribute($rwd) {
  $pad: $min-table-pad;
  @while $pad <= $max-table-pad {
    @include build-table-pad($rwd, $pad);
    $pad: $pad + 5;
  }
}