@mixin build-h-divider-color($colorName, $color) {
  &[acss-h-divider-between-color="#{$colorName}"], [acss-h-divider-between-color="#{$colorName}"] {
    tr:not(:first-child) {
      border-top-color: $color;
    }
  }

  &[acss-h-divider-around-color="#{$colorName}"], [acss-h-divider-around-color="#{$colorName}"] {
    tr {
      border-top-color: $color;
    }

    tr:last-child {
      border-bottom-color: $color;
    }
  }
}

@mixin build-table-divider-color($colorName, $color) {
  .acss-table {
    @include build-h-divider-color($colorName, $color);
  }
}
