@import '../base/default';
@import '../base/util';
@import '../base/rwd-base';

@mixin build-border-width($rwd, $width) {
  [acss-border-width="#{$width}#{$rwd}"] {
    border-width: px($width);
  }
}

@mixin build-border-width-attribute($rwd) {
  $border-width: $border-width-min;
  @while $border-width <= $border-width-max {
    @include build-border-width($rwd, $border-width);
    $border-width: $border-width + 1;
  }
}

@mixin build-border-color($color-name, $color) {
  [acss-border-color="#{$color-name}"] {
    border-color: $color;
  }
}

@mixin build-border-attribute {
  [acss-border-width] {
    border-style: solid;
  }

  @include rwd {
    @include build-border-width-attribute($rwd);
  }

  @include rwd-xl {
    @include build-border-width-attribute($rwd-xl);
  }

  @include rwd-lg {
    @include build-border-width-attribute($rwd-lg);
  }

  @include rwd-md {
    @include build-border-width-attribute($rwd-md);
  }

  @include rwd-sm {
    @include build-border-width-attribute($rwd-sm);
  }

  @include rwd-xs {
    @include build-border-width-attribute($rwd-xs);
  }
}

@include build-border-attribute;
