@import '../base/rwd-base';
@import '../base/util';
@import '../base/default';

[acss-line-x] {
  width: 100%;
}

[acss-line-y] {
  height: 100%;
}

@mixin build-line-thickness($rwd, $thickness) {
  [acss-line-x~="#{$thickness}#{$rwd}"] {
    height: px($thickness);
  }

  [acss-line-y~="#{$thickness}#{$rwd}"] {
    width: px($thickness);
  }
}

@mixin build-line-color($color-name, $color) {
  [acss-line-color="#{$color-name}"] {
    background-color: $color;
  }
}

@mixin build-line-thickness-attribute($rwd) {
  $thickness: $line-thickness-min;
  @while $thickness <= $line-thickness-max {
    @include build-line-thickness($rwd, $thickness);
    $thickness: $thickness + 1;
  }
}

@include rwd {
  @include build-line-thickness-attribute($rwd);
}

@include rwd-xl {
  @include build-line-thickness-attribute($rwd-xl);
}

@include rwd-lg {
  @include build-line-thickness-attribute($rwd-lg);
}

@include rwd-md {
  @include build-line-thickness-attribute($rwd-md);
}

@include rwd-sm {
  @include build-line-thickness-attribute($rwd-sm);
}

@include rwd-xs {
  @include build-line-thickness-attribute($rwd-xs);
}
