@import '../../base/default';
@import '../../base/util';

@mixin default-h-divider-style {
  &[acss-h-divider-between], [acss-h-divider-between],
  &[acss-h-divider-around], [acss-h-divider-around] {
    tr {
      border-style: solid;
    }
  }
}

@mixin build-h-divider-between($rwd, $thickness) {
  &[acss-h-divider-between="#{$thickness}"], [acss-h-divider-between="#{$thickness}"] {
    tr:not(:first-child) {
      border-top-width: px($thickness);
    }
  }
}

@mixin build-h-divider-around($rwd, $thickness) {
  &[acss-h-divider-around="#{$thickness}"], [acss-h-divider-around="#{$thickness}"] {
    tr {
      border-top-width: px($thickness);
    }

    tr:last-child {
      border-bottom-width: px($thickness);
    }
  }
}

@mixin build-table-h-divider-attributes($rwd) {
  @include default-h-divider-style;

  $divider-thickness: $min-divider-thickness;
  @while $divider-thickness <= $max-divider-thickness {
    @include build-h-divider-between($rwd, $divider-thickness);
    @include build-h-divider-around($rwd, $divider-thickness);
    $divider-thickness: $divider-thickness + 1;
  }
}
